<div class="container">
    <div  *ngIf="isPresent">
        <p>File Name: {{ fileInfo.fileName }}</p>
        <p>File Size: {{ fileInfo.fileSize }}</p>
        <input name="password" [(ngModel)]="password" type="text" placeholder="Enter password">
        <button (click)="download()">Download</button>
    </div>
    <div class="file-not-exist" *ngIf="!isPresent">
        <p>Wrong path or file already deleted from server</p> 
        <img (click)="goHome()" (mouseenter)="hovered = true" (mouseleave)="hovered = false" [src]="hovered ? 'assets/home_hover.png' : 'assets/home.png'" alt="Go home">
    </div>
</div>


  
  