<div class="container" id="style-1">
  <div class="header">
    <div class="logo">
      File Exchanger
    </div>
    <div></div>
    <p>Add password</p>
      <label class="switch">
        <input type="checkbox" (change)="togglePasswordVisibility()">
        <span class="slider"></span>
      </label>   
  </div>
  <div class="file-body">
    <div *ngIf="showPasswordVisibility()" class="password">
      <input name="password" [(ngModel)]="password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter password">
      <div class="password-checkbox">
        <p>Show my password</p>
        <label class="switch">
          <input type="checkbox" (change)="changePasswordInputVisibleState()">
          <span class="slider"></span>
        </label>    
        

      </div>
         
    </div>
    <div>
      <div class="input-area">
        <input type="file" #fileInput style="display: none;" multiple (change)="onFileSelected($event)" required>
        <div class="drag-area"
             (click)="fileInput.click()"
             (dragover)="handleDragOver($event)"
             (dragleave)="handleDragLeave($event)"
             (drop)="handleDrop($event)">
             <p *ngIf="selectedFiles.length === 0">Drag &amp; Drop files here or click to browse</p>
             <p style="color: var(--bg-blue-color);" *ngIf="selectedFiles.length > 0">Selected Files:</p>
             <div class="drag-area-inner" id="style-1" *ngIf="selectedFiles.length > 0">
              <ul class="drag-area-inner-list">
                  <li *ngFor="let file of selectedFiles">
                    <div class="drag-area-inner-list-file-info">
                      {{ file.name }}
                    </div>
                    
                    <div class="drag-area-progress">
                       <progress max="100" [value]="uploadProgress[file.name]?.message"></progress>
                    </div>
                   
                  </li>
              </ul>
          </div>
      </div>
    </div>
    <div class="files-auto-delete-message">
      <p id="text">Files will be automatically deleted after 24 hours from the moment of uploading.</p>
    </div>
    <div class="file-input-send">
      <button *ngIf="!isUploading" (click)="uploadFiles()" [disabled]="isUploading">Upload</button>
      <div class="loader" *ngIf="isUploading"></div> 
    </div>    
  </div>
  
  
</div>
<div class="download-info">
  <div  class="static-content">
    <div class="static-content-key">
      <img (mouseenter)="hovered = true" (mouseleave)="hovered = false" [src]="hovered ? 'assets/key_hover.png' : 'assets/key.png'" alt="Download">
      <p (click)="redirectToAnotherPage()">Download file</p>
      <input (click)="redirectToAnotherPage()" type="text" [(ngModel)]="downloadInputValue" placeholder="Key: http://localhost:4200/download/xxxx">
    </div>
  </div>
  <div *ngIf="uploadData.length" class="overflow-content-container">
    <h3>To download files use keys below:</h3>
    <div class="overflow-content" id="style-1"> 
      <div class="overflow-content-element" *ngFor="let data of uploadData">
        <span>{{ data[0] }}</span>
        <div class="overflow-content-copy">
          <h4>{{ data[1] }}</h4> 
          <input type="radio" [id]="'copyOption-' + data[1]" name="copyOption" (change)="copyToClipboard(data[1])">
          <label [for]="'copyOption-' + data[1]" (click)="copyToClipboard(data[1])">Copy key</label>
      </div>
   </div>
</div>