
.container {
  position: absolute;
  padding: 20px;
  width: 80%;
  height: auto;
  border: 1px solid var(--bg-tertiary-color);
  border-radius: 8px;
  background-color: var(--bg-primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%; 
  overflow-y: auto; 
  overflow-x: hidden;
}

.header {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 98%;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--bg-white-color);
  border-radius: 8px;
  background-color: var(--bg-secondary-color);
}
.logo {
  color: transparent;
  cursor:default;
  display: inline-block; 
  text-align: center; 
  justify-content: center;
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: conic-gradient(#ee4b2b, #553c9a, #00c2cb);
  -webkit-background-clip: text; 
  background-clip: text; 
}

.logo:hover {
  background-image: conic-gradient(#00c2cb, #553c9a, #ee4b2b);
}

.header p{
  color: var(--text-secondary-color);
  margin-left: 50px;
  margin-right: 20px;
 
}

/* logo slide button */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; 
  height: 20px; 
}
.switch input{
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-gray-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; 
  width: 16px; 
  left: 2px; 
  bottom: 2px; 
  background-color: var(--bg-white-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; 
}


input:checked + .slider {
  background-color: var(--bg-blue-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--bg-blue-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* password field */
.password {
  margin-top: 20px; 
}

.password input {
  width: 100%;
  padding: 10px;
  color: var(--bg-white-color);
  border: 1px solid var(--bg-gray-color);
  border-radius: 5px;
  background-color: var(--bg-secondary-color);
  font-size: 16px;
  box-sizing: border-box;
}

.password-checkbox{
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}
.password-checkbox p{
  margin: 0;
  margin-right: 10px;
  color: var(--text-secondary-color);
}



/* drag area */
.drag-area {
  border: 2px dashed var(--bg-gray-color);
  color:var(--bg-gray-color) ;
  border-radius: 8px;
  padding: auto;
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--bg-secondary-color);
}
.drag-area p{
  display: flex;
  justify-content: center;
}
.drag-area-inner{
  display: flex;
  margin-top:4px;
  max-height: 150px; 
  overflow-y: auto; 
  color: var(--bg-blue-color);
  justify-content: center;
  align-items: center;
}
.drag-area-inner-list li {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 10px; 
  margin-top: 10px;
}

.drag-area-inner-list-file-info {
  flex: 1; 
  margin-right: 20px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color:var(--bg-gray-color);
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--bg-gray-color);
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--bg-tertiary-color);
}
.file-input-send{
margin-top: 10px;
display: flex;
justify-content: center;
}

.file-input-send button{
  width: 100%;
  color: var(--bg-white-color);
  background-color: var(--bg-blue-color);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid var(--bg-gray-color);
  border-radius: 5px;
  transition-duration: 500ms;

}
.file-input-send button:hover{
  color: var(--bg-gray-color);
  background-color: var( --bg-button-blue-hover-color);
  transition-duration: 500ms;
}
.files-auto-delete-message p{
  color: var(--text-red-color);
}

#text:active {
  color: var(--text-purple-color); /* Change the color on click */
}
/* Download info */
.download-info{
  display: flex;
}

.static-content {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--bg-white-color);
  border-radius: 8px;
}
.static-content-key{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.static-content-key img{
  width: 80px;
  height: 80px;
}
.static-content-key p{
  color: var(--bg-gray-color);
  margin-top:10px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.static-content-key p:hover{
  color: var(--bg-blue-color);
  cursor: pointer;
}
.static-content-key input{
  background-color: var(--bg-primary-color);
  padding: 10px;
  width: 100%;
  border: 1px solid var(--bg-white-color);
  border-radius: 5px;
  color: var(--bg-white-color);
  transition-duration: 500ms;

}
.static-content-key input:focus{
  border: 1px solid var(--bg-blue-color);
  outline: none;
  transition-duration: 500ms;
}
.overflow-content-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}
.overflow-content-container h3{
  color: var(--bg-gray-color);
}
.overflow-content {
  overflow: auto; 
  max-height: 200px; 
  background-color: var(--bg-secondary-color);
  border-radius: 8px;
}
.overflow-content-element{
  margin-left: 10px;
}
.overflow-content-element span{
  color: var(--text-purple-color);
}

.overflow-content-copy{
  display: flex;
  align-items: center;
}

.overflow-content-copy h4 {
  flex: 1; 
  margin-right: 10px; 
  color: var(--bg-gray-color);
}

.overflow-content-copy input {
  color: var(--bg-white-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid var(--bg-gray-color);
  border-radius: 5px;
}

.overflow-content-copy label {
  color: var(--bg-gray-color);
  margin-right: 30%;
}

/* cloud */
.loader {
  width: 108px;
  height: 60px;
  color: #269af2;
  --c: radial-gradient(farthest-side,currentColor 96%,#0000);
  background: 
    var(--c) 100% 100% /30% 60%,
    var(--c) 70%  0    /50% 100%,
    var(--c) 0    100% /36% 68%,
    var(--c) 27%  18%  /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {transform:scale(1.8);opacity:0}
}
/* for smartphones */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 30px;
  }
}
